<mat-sidenav-container class="main-container" autosize="false" style="height: 100vh; min-height: 100vh;">
  <mat-sidenav #sidenav mode="side" opened class="sidenav" style="height: 100vh; min-height: 100vh;">
    <mat-nav-list>
      <mat-expansion-panel *ngFor="let item of menu">
        <mat-expansion-panel-header>
          <span>{{ item.title }}</span>
        </mat-expansion-panel-header>
        <a *ngFor="let child of item.children"
           mat-list-item
           [routerLink]="child.route">
          <span>{{ child.title }}</span>
        </a>
      </mat-expansion-panel>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="content" style="height: 100vh; min-height: 100vh;">
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon>menu</mat-icon>
      </button>
      <span>SMARTBITERP - Prueba Tecnica Erika Pulido</span>
    </mat-toolbar>
    <div class="page-body">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>